<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.bowen.architecture.architecture1.orderMgr.vo.OrderModel" alias="OM"/>
        <typeAlias type="com.bowen.architecture.architecture1.orderMgr.vo.OrderQueryModel" alias="OQM"/>
        <typeAlias type="com.bowen.architecture.architecture1.orderMgr.vo.OrderDetailModel" alias="ODM"/>
        <typeAlias type="com.bowen.architecture.architecture1.orderMgr.vo.OrderDetailQueryModel" alias="ODQM"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.bowen.architecture.architecture1.pageutil.pagePlugin">
            <property name="dialect" value="mysql"/>
            <property name="pageSqlId" value=".*Page.*"/>
        </plugin>
    </plugins>

</configuration>